@charset "UTF-8";
body {
  /*定义滚动条样式（高宽及背景）*/
  /*定义滚动条轨道（凹槽）样式*/
  /*定义滑块 样式*/
  background-image: url("../img/indexBg.png");
  background-size: cover; }
  body ::-webkit-scrollbar {
    width: 8px;
    /* 滚动条宽度， width：对应竖滚动条的宽度  height：对应横滚动条的高度*/
    background: rgba(255, 226, 148, 0.5); }
  body ::-webkit-scrollbar-track {
    border-radius: 4px; }
  body ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    height: 100px;
    /* 滚动条滑块长度 */
    background-color: #FFE294; }
  body header {
    text-align: center; }
    body header img {
      height: 280px;
      width: 100%; }
  body #main {
    width: 100%;
    padding-bottom: 63px; }
    body #main .content {
      width: 90%;
      height: 735px;
      margin: 0 auto;
      display: flex;
      /*index.html  右边css样式*/
      /*left02.html  右边css样式*/
      /*left03.html  右边css样式*/
      /*left03_info.html  右边css样式*/ }
      body #main .content .left1 {
        width: 18%;
        height: 504px;
        margin-right: 20px; }
        body #main .content .left1 .left1-item img {
          width: 100%;
          height: 168px;
          display: block; }
        body #main .content .left1 .left1-item .goBack {
          width: 70%;
          height: 84px;
          margin-top: 158px; }
      body #main .content .left2 {
        width: 82%;
        height: 733px; }
        body #main .content .left2 .left2-title {
          display: flex;
          margin-bottom: 17px; }
          body #main .content .left2 .left2-title img {
            cursor: pointer;
            width: 50%;
            height: 72px;
            opacity: .4; }
          body #main .content .left2 .left2-title .img-bg {
            opacity: 1 !important; }
        body #main .content .left2 .left2-content {
          text-align: center;
          height: 645px;
          width: 100%;
          background: #EA0000; }
          body #main .content .left2 .left2-content #indexC2 {
            display: none; }
          body #main .content .left2 .left2-content iframe {
            background: black; }
            body #main .content .left2 .left2-content iframe html body table a {
              color: yellow; }
            body #main .content .left2 .left2-content iframe html body table a:link {
              color: green; }
      body #main .content .left02_right {
        width: 82%;
        height: 791px;
        background-image: url("../img/allBg.png");
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        body #main .content .left02_right .left02_right_index {
          margin-top: -50px;
          width: 80%;
          height: 650px;
          display: flex; }
          body #main .content .left02_right .left02_right_index .eft02_right1 {
            width: 50%;
            height: 100%;
            background-image: url("../img/map.png");
            background-size: 100% 100%;
            margin-right: 43px; }
            body #main .content .left02_right .left02_right_index .eft02_right1 div:nth-of-type(2) {
              margin-left: 50%; }
            body #main .content .left02_right .left02_right_index .eft02_right1 div {
              cursor: pointer;
              filter: grayscale(70%);
              opacity: .8; }
              body #main .content .left02_right .left02_right_index .eft02_right1 div img {
                width: 235px;
                height: 155px; }
            body #main .content .left02_right .left02_right_index .eft02_right1 .left02_active {
              filter: grayscale(0);
              opacity: 1 !important; }
          body #main .content .left02_right .left02_right_index .eft02_right2, body #main .content .left02_right .left02_right_index .eft02_right3 {
            width: 50%;
            height: 100%;
            background-image: url("../img/right.png");
            background-size: 100% 100%; }
            body #main .content .left02_right .left02_right_index .eft02_right2 .img, body #main .content .left02_right .left02_right_index .eft02_right3 .img {
              text-align: center;
              margin: 48px 0; }
              body #main .content .left02_right .left02_right_index .eft02_right2 .img img, body #main .content .left02_right .left02_right_index .eft02_right3 .img img {
                width: 70%;
                height: 30px; }
            body #main .content .left02_right .left02_right_index .eft02_right2 .text, body #main .content .left02_right .left02_right_index .eft02_right3 .text {
              letter-spacing: 1px;
              width: 80%;
              text-indent: 50px;
              font-size: 22px;
              color: #443210;
              line-height: 36px;
              margin: 0 auto;
              text-align: left; }
      body #main .content .left03_right {
        width: 82%;
        height: 810px;
        background-image: url("../img/allBg.png");
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        body #main .content .left03_right .left03_right_index {
          margin-top: -50px;
          overflow-y: scroll;
          width: 80%;
          height: 670px;
          display: flex;
          flex-flow: row wrap; }
          body #main .content .left03_right .left03_right_index .eft03_item {
            cursor: pointer;
            height: 308px;
            width: 19%;
            margin: 0 20px 35px 0; }
            body #main .content .left03_right .left03_right_index .eft03_item img {
              border: 12px solid #FFFFFF;
              width: 88%;
              height: 250px;
              border-top-left-radius: 12px; }
            body #main .content .left03_right .left03_right_index .eft03_item p {
              text-align: center;
              line-height: 50px;
              width: 106%;
              margin-top: -2%;
              margin-left: -4%;
              height: 58px;
              font-size: 30px;
              background-image: url("../img/left03_imgK.png");
              background-size: 100% 100%; }
          body #main .content .left03_right .left03_right_index a:link, body #main .content .left03_right .left03_right_index a:visited {
            color: black;
            text-decoration: none; }
      body #main .content .left03_info_right {
        width: 82%;
        height: 791px;
        background-image: url("../img/allBg.png");
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        align-items: center; }
        body #main .content .left03_info_right .left03_info_right_index {
          margin-top: -50px;
          width: 96%;
          height: 600px; }
          body #main .content .left03_info_right .left03_info_right_index .info1 {
            margin-left: -4px;
            width: 20%;
            height: 80px; }
            body #main .content .left03_info_right .left03_info_right_index .info1 img {
              width: 100%;
              height: 100%; }
          body #main .content .left03_info_right .left03_info_right_index .info2 {
            width: 85%;
            height: 560px;
            display: flex;
            margin: 0  auto;
            align-items: center;
            justify-content: space-between;
            margin-top: -35px; }
            body #main .content .left03_info_right .left03_info_right_index .info2 a {
              width: 5%;
              height: 80px; }
              body #main .content .left03_info_right .left03_info_right_index .info2 a img {
                cursor: pointer;
                width: 100%;
                height: 100%; }
            body #main .content .left03_info_right .left03_info_right_index .info2 .info_center {
              width: 80%;
              height: 560px;
              display: flex;
              align-items: center; }
              body #main .content .left03_info_right .left03_info_right_index .info2 .info_center .info_item {
                height: 308px;
                width: 25%;
                margin: 0 40px 0 0; }
                body #main .content .left03_info_right .left03_info_right_index .info2 .info_center .info_item img {
                  border: 12px solid #FFFFFF;
                  width: 88%;
                  height: 250px;
                  border-top-left-radius: 12px; }
                body #main .content .left03_info_right .left03_info_right_index .info2 .info_center .info_item p {
                  text-align: center;
                  line-height: 50px;
                  width: 106%;
                  margin-top: -2%;
                  margin-left: -4%;
                  height: 58px;
                  font-size: 28px;
                  background-image: url("../img/left03_imgK.png");
                  background-size: 100% 100%; }
              body #main .content .left03_info_right .left03_info_right_index .info2 .info_center .info_text {
                padding-right: 30px;
                text-indent: 50px;
                width: 81%;
                height: 100%;
                overflow-y: scroll;
                color: #FFFFFF !important;
                font-size: 28px; }
                body #main .content .left03_info_right .left03_info_right_index .info2 .info_center .info_text p {
                  color: #FFFFFF !important; }
                  body #main .content .left03_info_right .left03_info_right_index .info2 .info_center .info_text p span {
                    color: #FFFFFF !important; }

/*# sourceMappingURL=index.css.map */
